Labs/Chapter1/HelloIndigo/Client/Service References/localhost/all_p1.html.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://indigo300.rssing.com/chan-7039254/all_p1.html" elementFormDefault="qualified" targetNamespace="http://indigo300.rssing.com/chan-7039254/all_p1.html" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HelloIndigo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloIndigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloIndigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>